<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinYi_UAT.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
				<key>dateExpires</key>
				<string>2021/3/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CarbonKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeCellKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E53D5129C390E20A537F5F03A5797FCE2DD35BFF</string>
						<key>dateExpires</key>
						<string>2021/3/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MU3N7RFZ3</string>
						<key>name</key>
						<string>Sinyi Realty Estate Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5MU3N7RFZ3.com.softmobile.customer.sinyi</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5MU3N7RFZ3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SinYi_UAT.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>27568374-ff9e-445e-833e-fa954fedb626</string>
				<key>name</key>
				<string>003 AgentCustomerAppTest_DIS_New</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5MU3N7RFZ3</string>
				<key>name</key>
				<string>Sinyi Realty Estate Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
