<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125133970521-qgm7a154bbfsr8tms8no2hi00nqie94j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125133970521-qgm7a154bbfsr8tms8no2hi00nqie94j</string>
	<key>API_KEY</key>
	<string>AIzaSyCfUNRFGXxuZb1cH8VqUZYU3U_JowOuNds</string>
	<key>GCM_SENDER_ID</key>
	<string>125133970521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinyi.SYPlan</string>
	<key>PROJECT_ID</key>
	<string>syplan</string>
	<key>STORAGE_BUCKET</key>
	<string>syplan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125133970521:ios:135755edda1bfe3a24a548</string>
	<key>DATABASE_URL</key>
	<string>https://syplan.firebaseio.com</string>
</dict>
</plist>
